@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* FONTS */
  --font-main: 'Roboto', sans-serif;

  /** COLORS **/
    /* Dark colors */
    --background-100: #090909;
    --background-200: #0E0E0E;
    --background-300: #1C1C1E;
    /* Accent color */
    --accent-100:  #16c480; /* #b7cfae */
    /* Text colors */
    --text-primary: #FFFFFF;
    --text-primary-inverse: #000000;
    --text-secondary: #ffffff62;
    --text-disabled: #FFFFFF80;
    /* Action colors */
    --action-active: #FFFFFF;
    --action-hover: #FFFFFF14;
    --action-selected: #FFFFFF29;
    --action-disabled: #FFFFFF4D;
    /* Divider */
    --divider: #FFFFFF1F;
}

* {
  margin: 0;
  padding: 0;

  font-family: var(--font-main);
}

#root {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;

  background-color: var(--background-200);
}
