div.cell-device {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;

	padding: var(--cell-vertical-padding) var(--cell-horizontal-padding);

	border-radius: var(--cell-radius);

	background-color: var(--background-900);
}

div.attribute {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 6px;
}